h1.title{
  font-family: "Satisfy", sans-serif;
}

/* 2. Yöntem - @import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

div#text{
    font-family: "DM Sans", sans-serif;
}

p.paragraph{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}