h1.title{
    text-align: center;
    color: red;
}

a.link{
    text-decoration: none;
}

p{
    text-decoration: wavy underline red;
}

ul.other li a{
    text-decoration: none;
    /* font-style italic | normal değerlerini alabilir. */
    font-style: italic;
}

ul li a.active{
    /* font-weight 100 900 arasındaki her yüzlük sayıyı alabilir. 100 en ince, 900 ise en kalındır. Bold bolder ve lighter değerleri de alabilir. p taginin varsayılan değeri 400'dür. */
    font-weight: 900;
}

/* ziyaret edilmemiş linkelere uygualanacak stillendirme */
ul.other2 li a:link{
    color: red;
}

/* ziyaret edilmiş linkelere uygualanacak stillendirme */
ul.other2 li a:visited{
    color: turquoise;
}

/* :hover her elementle kullanılabilir. */
ul.other2 li a:hover{

    background-color: chartreuse;
    color: blueviolet;
    
}

/* tıklandığında uygulanacak stillendirme: */
a:active{
    background-color: crimson;
    color: whitesmoke;
}