h1{
    text-align: center;
    color: red;
}

ol.ordered-list{
    list-style-type: decimal-leading-zero;
}

ul.unordered-list{
    list-style-type: square;
}

ul.emoji-list{
    list-style-type: "😂 ";
}

ul.custom-image-list{
    list-style-image: url("../../assets/img/iphone14.png");
    list-style-position: inside;
}